@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
.search_btn{
  border-radius: 15px;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
}
.weather_forcasting_div{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.input_city_search{
  border-radius: 20px;
}
.search_btn{
  border-radius: 20px;
}
.search_btn:hover{
  background-color: black;
  color: white;
}
.show_div{
  text-transform: capitalize;
}
.show_div h1{
  text-shadow: 2px 2px 6px black
}
.remove_btn{
  border: 1px solid black;
  text-transform: capitalize;
}
.remove_btn:hover{
  background-color: black;
  color: white;
}
.main_heading{
  text-transform: uppercase;
  text-shadow: 2px 2px 6px black

}